*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.container_vav{
    box-shadow: 10px 10px 5px #aaaaaa;
}

nav:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

nav {
    padding: 1rem;
    background: #7b0a12;
    color: aliceblue;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index: 11;
}

.container_n a {
    color: aliceblue;
    text-transform: uppercase;
    font-weight: bold;
}

.container_n a:hover {
    background: transparent;
    border: 1px solid bisque;
    padding: 0.5rem 2rem;
    color: bisque;
    border-radius: 50px;
}

#jama {
    border: 1px solid rgb(255, 255, 0);
    border-radius: 24px;
    padding: 0.5rem 2rem;
    border-color:rgb(255, 255, 0);
    color: rgb(255, 255, 0);
    font-size: 120%;
}

#log_in:hover {
    border-color:rgb(255, 255, 0);
    color: rgb(255, 255, 0);
}

.container_right li {
    display: inline-block;
    margin-left: 2rem;
    text-decoration: none;
    list-style: none;
}

.container_right li:nth-child(1){
    margin-left: 0;
}

.container_n {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



.container_s {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: #900912;
    text-align: center;
    padding: 1% 10%;
    color: aliceblue;
    height: 30rem;
    justify-self: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.contaner_left_s img {
    padding-top: 2rem;
    width: 25rem;
}

.contaner_right_s {
    padding-top: 10rem;
}

.contaner_right_s h1 {
    margin-bottom: 1rem;
}

.contaner_right_s p {
    padding: 1% 10%;
    margin-bottom: 1rem;
}


form a {
    text-decoration: none;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    padding-top: 8px;
    padding-left: 10px;
    position: absolute;
}

#gsearch {
    width: 50%;
    background: #7b0a12;
    border: 0;
    border-radius: 50rem;
    padding: 1rem 3rem;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#gsearch:hover {
    width: 80%;
    border: 2px solid bisque;
}